*{
    overflow: auto;
}
body{
    background-color: #8ba1bb;
    font-family: Arial;
}
.center{
    text-align: center;
    width: 100%;
}
p.category{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 8px 20px;
    margin-top: -15px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
}
div.category{
    overflow: visible;
    margin-bottom: 15px;
    margin-top: 0px;
}
div.content{
    background-color:white;
    margin: 40px 8px 40px 8px;
    padding: 0px 8px 20px 8px;
    box-shadow: 0px 0px 8px 8px rgb(0, 0, 0, 0.1);
    overflow: visible;
}
h1{
  text-align: center; 
  margin-top: 5px;
  margin-bottom: 12;
}
p.description{
    max-width: 400px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}
div.seperator{
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
div.info{
    position: relative;
}
table.info{
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    color: white; background-color: #6c829dC0; 
    height: 50px;
}
table.info td{
    text-align: center;
    vertical-align: top;
    font-size: 12px;
}
table.info th{
    vertical-align: bottom;
    padding-bottom: 6px;
    font-size: 14px;
}
img.info{
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: brown;
}
div.col{
    width: 100%;
    margin-top: 20px;
}
div.col h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6c829D;
    padding-bottom: 5px;
}
div.col1{
    display: inline-block;
}
div.ingredients{
    margin-top: 25px;
}
div.ingredients p{
    text-align: center;
    border: 0.5px solid rgba(0, 0, 0, 0.281);
    margin-top: 4px;
    margin-bottom: 0;
    padding: 8px;
    font-size: 14px;
}
table.instructions p.number{
    background-color: #6c829D;
    color: white;
    font-size: 14;
    font-weight: bold;
    width: 25px;
    text-align: center;
    height: 25px;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}
table.instructions td.step{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
table.instructions td{
    vertical-align: top;
}
table.instructions tr{
    height: 40px;
}
table.instructions{
    margin-top: 25px;
}
/* Desktop style */
@media only screen and (min-width: 768px){
    div.content{
        margin: 60px 10% 80px 10%;
        padding: 0px 30px 30px 30px;
        min-width: 350px;
    }
    table.info{
        height: 80px;
    }
    table.info td{
        font-size: 14px;
    }
    table.info th{
        font-size: 16px;
    }
    div.col{
        width: 45%;
    }
    div.col1{
        margin-right: 10%
    }
    div.col2{
        float: right;
    }
}
/*large screen case*/
@media only screen and (min-width: 900px){
    div.content{
        margin-left: auto;
        margin-right: auto;
        width: 650px;
    }
}